<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="prog.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    





    <article class="message message--post js-post js-inlineModContainer  " data-author="אליה גרפיקה ומחשוב" data-content="post-7562632" id="js-post-7562632">

        <span class="u-anchorTarget" id="post-7562632"></span>
    
        <div class="message-inner">
            <div class="message-cell message-cell--user">
                
    
    <section itemscope="" itemtype="https://schema.org/Person" class="message-user">
        <div class="message-avatar ">
            <div class="message-avatar-wrapper">
                <a href="/members/%D7%90%D7%9C%D7%99%D7%94-%D7%92%D7%A8%D7%A4%D7%99%D7%A7%D7%94-%D7%95%D7%9E%D7%97%D7%A9%D7%95%D7%91.66949/" class="avatar avatar--m avatar--default avatar--default--dynamic" data-user-id="66949" data-xf-init="member-tooltip" style="background-color: #cc6633; color: #3d1f0f" id="js-XFUniqueId21">
            <span class="avatar-u66949-m">א</span> 
        </a>
                
            </div>
        </div>
        <div class="message-userDetails">
            <h4 class="message-name"><a href="/members/%D7%90%D7%9C%D7%99%D7%94-%D7%92%D7%A8%D7%A4%D7%99%D7%A7%D7%94-%D7%95%D7%9E%D7%97%D7%A9%D7%95%D7%91.66949/" class="username " dir="auto" data-user-id="66949" data-xf-init="member-tooltip" itemprop="name" id="js-XFUniqueId22">אליה גרפיקה ומחשוב</a></h4>
            <h5 class="userTitle message-userTitle" dir="auto" itemprop="jobTitle">משתמש מקצוען</h5>
            <div class="userBanner userBanner userBanner--gray message-userBanner" itemprop="jobTitle"><span class="userBanner-before"></span><strong><i class="fa fa-camera" aria-hidden="true"></i>  צילום מקצועי</strong><span class="userBanner-after"></span></div>
    <div class="userBanner userBanner userBanner--skyBlue message-userBanner" itemprop="jobTitle"><span class="userBanner-before"></span><strong><i class="fa fa-pencil" aria-hidden="true"></i> עיצוב גרפי</strong><span class="userBanner-after"></span></div>
    <div class="userBanner userBanner userBanner--yellow message-userBanner" itemprop="jobTitle"><span class="userBanner-before"></span><strong><i class="fa fa-book" aria-hidden="true"></i>  עריכה תורנית</strong><span class="userBanner-after"></span></div>
    
        </div>
        
            
            
        
        <span class="message-userArrow"></span>
    </section>
    
            </div>
            <div class="message-cell message-cell--main">
                <div class="message-main js-quickEditTarget">
    
                    <header class="message-attribution message-attribution--split">
                        <div class="message-attribution-main">
                            <a href="/threads/%D7%92%D7%A8%D7%99%D7%9D-%D7%91%D7%97%D7%A8%D7%99%D7%A9.540776/post-7562632" class="u-concealed" rel="nofollow">
                                <time class="u-dt" dir="auto" datetime="2020-04-20T16:58:21+0300" data-time="1587391101" data-date-string="20/4/20" data-time-string="16:58" title="20/4/20 ב- 16:58">20/4/20</time>
                            </a>
                        </div>
    
                        <ul class="message-attribution-opposite message-attribution-opposite--list">
                            
                            <li>
                                <a href="/threads/%D7%92%D7%A8%D7%99%D7%9D-%D7%91%D7%97%D7%A8%D7%99%D7%A9.540776/post-7562632" data-xf-init="share-tooltip" data-href="/posts/7562632/share" rel="nofollow" id="js-XFUniqueId23">
                                    <i class="fa--xf far fa-share-alt" aria-hidden="true"></i>
                                </a>
                            </li>
                            
                            
                                <li>
                                    <a href="/threads/%D7%92%D7%A8%D7%99%D7%9D-%D7%91%D7%97%D7%A8%D7%99%D7%A9.540776/post-7562632" rel="nofollow">
                                        #2
                                    </a>
                                </li>
                            
                        </ul>
                    </header>
    
                    <div class="message-content js-messageContent">
    
                        
                        
                        
    
                        <div class="message-userContent lbContainer js-lbContainer " data-lb-id="post-7562632" data-lb-caption-desc="אליה גרפיקה ומחשוב · 20/4/20 ב- 16:58">
    
                            
    
                            <article class="message-body js-selectToQuote">
                                
                                
    
    
    
        
            
        
    
        
    
    
    <div class="bbWrapper">אוכלוסיה מעורבת יש אזור שבוא כמעט רק חרדים <br>
    תחבורה יש מעט לפני שנה בערך התחיל <br>
    קניות יש כמו מרכז קניות בכניסה לישוב עם הרבה דברים נצרכים ועל כל מצב חדרה מאוד קרובה <br>
    יש גם דירות לא בקבוצות</div>
    
    
    
        
            
        
    
        
    
    
                                <div class="js-selectToQuoteEnd">&nbsp;</div>
                                
                            </article>
    
                            
    
                            
                        </div>
    
                        
    
                        
    
    
        
            
        
    
        
    
    
    
    
    
    
    
    
        
            
        
    
        
    
    
                    </div>
    
                    <footer class="message-footer">
                        
                            <div class="message-actionBar actionBar">
                                
                                    
                                        <div class="actionBar-set actionBar-set--external">
                                        
                                            <a href="/posts/7562632/react?reaction_id=1" class="reaction reaction--small actionBar-action actionBar-action--reaction reaction--imageHidden reaction--1" data-reaction-id="1" data-xf-init="reaction" data-reaction-list="< .js-post | .js-reactionsList" id="js-XFUniqueId24"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="תודה" title="תודה"> <span class="reaction-text js-reactionText"><bdi>תודה</bdi></span></a>
    
                                            
                                                
    
                                                
    
                                                <a href="/threads/%D7%92%D7%A8%D7%99%D7%9D-%D7%91%D7%97%D7%A8%D7%99%D7%A9.540776/reply?quote=7562632" class="actionBar-action actionBar-action--reply" title="הגב עם ציטוט להודעה" data-xf-click="quote" data-quote-href="/posts/7562632/quote">צטט הודעה</a>
                                            
                                        
                                        </div>
                                    
    
                                    
                                        <div class="actionBar-set actionBar-set--internal">
                                        
                                            
    
                                            
                                                <a href="/posts/7562632/report" class="actionBar-action actionBar-action--report" data-xf-click="overlay">דווח על תוכן שלילי</a>
                                            
    
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
    
                                            
    
                                        
                                        </div>
                                    
    
                                
                            </div>
                        
    
                        <div class="reactionsBar js-reactionsList is-active">
                            
    
    
        <ul class="reactionSummary">
        
            <li><span class="reaction reaction--small reaction--1" data-reaction-id="1"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="תודה" title="תודה"></span></li>
        
        </ul>
    
    
    
    <span class="u-srOnly">Reactions:</span>
    <a class="reactionsBar-link" href="/posts/7562632/reactions" data-xf-click="overlay" data-cache="false"><bdi>האוצר זה מקצועי</bdi> and <bdi>שפריצרית</bdi></a>
                        </div>
    
                        <div class="js-historyTarget message-historyTarget toggleTarget" data-href="trigger-href"></div>
                    </footer>
                </div>
            </div>
            
        </div>
    </article>
</body>
</html>