.hidden {
    /* visibility: hidden; */
    display: none;
}

.group_row_in_table:hover {
    cursor: pointer;
    background-color: lightgray;
}

.group_row_in_table{
    height: 110px;
}

.justify-content-around{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.left_float{
    position: absolute;
    left: 10px;
}
.right_float{
    position: absolute;
    right: 10px;
}

.buttom_float{
    position: absolute;
    left: 10px;
    bottom: 30px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: transform 1s;
}



#btn_create_new_group{
    height: 40px;
    width: 193px;
    border-radius: 20px;
    background-color: #2E2E3A;
    margin: 15px 15px 15px 0;
    line-height: 41px;
    font-weight: 500;
}